# 사이트 빌드 의존성 전체 lock.
#
# 직접 의존성은 mkdocs-material과 mkdocs-awesome-pages-plugin이며 나머지는 전이 의존성이다.
# 갱신할 때는 직접 의존성 버전만 올린 뒤 깨끗한 가상환경에서 다시 고정한다.
#
#   python -m venv .venv-lock
#   .\.venv-lock\Scripts\python.exe -m pip install mkdocs-material==<새 버전> mkdocs-awesome-pages-plugin==<새 버전>
#   .\.venv-lock\Scripts\python.exe -m pip freeze
#
# 고정 기준: 2026-09-22, Python 3.14. CI도 Python 3.14(ubuntu-latest)를 사용한다.
# colorama는 Windows에서만 click의 의존성으로 설치된다.

mkdocs-material==9.7.6
mkdocs-awesome-pages-plugin==2.10.1

babel==2.18.0
backrefs==8.0
bracex==3.0.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6 ; sys_platform == "win32"
ghp-import==2.1.0
idna==3.20
Jinja2==3.1.6
Markdown==3.10.3
MarkupSafe==3.0.3
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.2
mkdocs-material-extensions==1.3.1
natsort==8.4.0
packaging==26.3
paginate==0.5.7
pathspec==1.1.1
platformdirs==4.11.12
Pygments==2.21.0
pymdown-extensions==12.0.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
pyyaml_env_tag==1.1
requests==2.34.2
six==1.17.0
urllib3==2.8.0
watchdog==6.0.0
wcmatch==11.0.1
